.aside {
	position: fixed;
	display: flex;
	flex-direction: column;
	min-width: map-get($aside, width);
	height: 100%;
	top: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: $border-radius;
	border-top-right-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
	transition-property: transform, opacity;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	z-index: 10;

	&-header {
		display: flex;
		justify-content: space-between;
	}

	&-body {
		margin-top: 1rem;
		margin-bottom: 1rem;
		flex-grow: 1;
		overflow: auto;

		-ms-overflow-style: none;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}

	&-nav {
		ul {
			padding: 0;
			list-style: none;

			li {
				border-radius: 1rem;
				padding: 0.5rem 1rem;
				cursor: pointer;
				transition: background-color 300ms ease-in-out;

				&.active {
					background-color: darkslategrey;
				}
				&:not(:last-child) {
					margin-bottom: 0.5rem;
				}
				&:hover {
					background-color: map-get($map: $aside, $key: hover-bg-color);
					color: aliceblue;
				}
			}
		}
	}

	&.mobile {
		&.open {
			transform: translateX(0);
			opacity: 1;
		}
		&.close {
			transform: translateX(-100%);
			opacity: 0;
		}
	}

	&.minimize {
		min-width: auto;

		.aside-body {
			flex-direction: column;
		}
	}
}
