.header {
	$page-margin: map-get(
		$map: $page,
		$key: margin,
	);
	$border-padding: map-get(
		$map: $page,
		$key: padding,
	);

	position: sticky;
	top: 0;
	padding: map-get($map: $page, $key: padding);
	margin: $page-margin $page-margin 0 $page-margin;
	border-radius: $border-padding;
	backdrop-filter: blur($overlay-backdrop-filter);
	z-index: 1;
}
