.card-header,
.card-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	&-left,
	&-right {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	&-left {
		order: 1;
	}

	&-right {
		order: 2;
	}
}
