:root {
	--toast-transition-delay: 500ms;
}

@keyframes slideInLeft {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

.toast-enter {
	animation: slideInLeft var(--toast-transition-delay) cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes slideOutRight {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}

.toast-exit {
	animation: slideOutRight var(--toast-transition-delay) cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.toast-move {
	transition: all 200ms ease-in-out;
}
