$primary: #6c5dd3;
$secondary: #ffa2c0;
$success: #46bcaa;
$info: #4d69fa;
$warning: #ffcf52;
$danger: #f35421;
$light: #e7eef8;
$dark: #1f2128;

@import "../../../node_modules/bootstrap/scss/bootstrap";
