.card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card-header-left {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	order: 1;
}

.card-header-right {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	order: 2;
}

.card-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card-footer-left {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	order: 1;
}

.card-footer-right {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	order: 2;
}
